.main{
    background: linear-gradient(to right, #ece9e6, #ffffff);
}
.vid{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
} 
.mvidi{
    border-radius: 10px;
}

.para{
    width: 80%;
    background: linear-gradient(to right, #141e30, #243b55); 
    padding: 5px;
    color: white;
    border-radius: 10px; 
}

.about{
    display: flex;
    flex-direction: column;
}

.div{
    display: flex;
}
.div1{
    /* border: 1px solid black; */
    width: 50%;
    margin: 2px;
    padding: 10px;
}
.ourCourses{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh;
}
.card{
    width: 30%;
    /* margin: 1%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    border: brown 1px solid;
    padding: 8px;
    border-radius: 5px;
}                              
.book{
    width: 50px;
    height: 50px;
}
.testi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testinomials{
    padding: 2vh;
}
.review{
    width: 90vw;
    height:250px;
    border: 1px solid rgb(231, 106, 106);
    border-radius: 20px;
    display: flex;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.test1{
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.test2{
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    .para{
        font-size: 12px;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width:95%;
        margin: 2%;
        padding: 8px;
    }
    .review{
        font-size: x-small;
    }
    .test2{
        height: 85%;
    }
} 